body {
  background: #14131a;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 80px;
}

.logo-link {
  display: inline-block;
  margin-right: 50px;
}

.nav-menu {
  margin: 0;
  padding: 0%;
  list-style: none;
  display: flex;
}

.nav-menu-item {
  margin-right: 30px;
}

.nav-menu-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.date {
  display: block;
  font-size: 24px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 38px;
}

.description {
  margin-top: 40px;
  max-width: 420px;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
}

button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.button-icon,
.button-text {
  display: inline-block;
  vertical-align: middle;
}

.button-text {
  font-size: 14px;
  line-height: 16px;
  margin-left: 10px;
}

.button-primary {
  color: #8d0019;
  background-color: #fff;
}

.button-link {
  margin-left: 50px;
  color: #fff;
}

.button-group {
  margin-top: 70px;
}

.photo-venom {
  top: 0px;
  right: 0px;
  position: absolute;
}

.blood {
  background: url("/img/blood1.png") no-repeat top right,
    #14131a url(/img/back.png) no-repeat center center / 100%;
}
